{% for field in form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="{{ field.name }}" class="mdl-textfield__label">
      {{ field.label }}
    </label>
    {{ field }}
  </div>
  {% if field.errors %}
    <div class="mdl-textfield__error" >{{ field.errors }}</div>
  {% endif %}
  {% endif %}
  {% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
  {% endif %}
{% endfor %}
