{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A project tracker to help you manage your writing and coding goals!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Tracker</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body class="mdl-color--grey-100">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          {% if user.is_authenticated %}
          <a class="mdl-navigation__link" href="{% url 'project_list' %}"><i class="material-icons">home</i> Home</a>
           <a class="mdl-navigation__link" href="{% url 'project_new' %}"><i class="material-icons">add_circle</i> Add Project</a>
           <a class="mdl-navigation__link" href="/accounts/logout/"><i class="material-icons">cancel</i> Sign out</a>
          {% endif %}
        </div>
      </header>
  <!-- NOTE: Include sidebar template here -->
      {% include 'partials/project_bar.html' %}
      <main class="mdl-layout__content">
        <div class="page-content">
          {% block content %}
          {% endblock %}
        </div>
      </main>
    </div>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
