{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Project Tracker</title>
  <link ref="{% static 'css/material.min.css' %}">
  <link ref="{% static 'css/main.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
    <li><a href="{% url 'project_new' %}">Add New Project</a></li>
    <li><a href="/accounts/logout/">Sign Out</a></li>
  {% else %}
    <li><a href="/accounts/login/">Sign In</a></li>
  {% endif %}
  <div>
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/material.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
