{% extends 'tracker/base.html' %}

{% block content %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h2>{{ project.title }}</h2>
      <p>
        {{ project.description }}
      </p>
      <p>
        <strong>Goal total:</strong> {{ project.total_count }}
      </p>
      <p>
        <span>{{ project.start_date }}</span>
        <span style="float:right;">{{ project.end_date }}</span>
        <div id="date_progress" class="mdl-progress mdl-js-progress"></div>
      </p>
    </div>
      <div class="mdl-card__supporting-text">
        <h3>Project tracking</h3>
        <p>
          <strong>Words per day (to reach goal on time):</strong> {{ words_per_day }}
        </p>
        <p>
          <strong>Total count:</strong> {{ count_sum.count_update__sum }}
        </p>
        <form method="post" action="{% url 'project_detail' pk=project.pk %}">
          {% csrf_token %}
          {% include "partials/form.html"%}
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Update</button>
        </form>
      </div>
    <div class="mdl-card__actions">
      <a class="mdl-button" style="float: right;" href="{% url 'project_delete' pk=project.pk %}">Delete</a>
      <a class="mdl-button" style="float: right;" href="{% url 'project_edit' pk=project.pk %}">Edit</a>
    </div>
  </div>
</section>

<script>
  document.querySelector('#date_progress').addEventListener('mdl-componentupgraded', function() {
    this.MaterialProgress.setProgress({{ date_progress }});
  });
</script>
{% endblock %}
