{% extends 'tracker/base.html' %}

{% block content %}
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h2>{{ project.title }}</h2>
      <p>
        {{ project.description }}
      </p>
      <table>
        <tr>
          <th>Goal Total</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
        <tr>
          <td>{{ project.total_count }}</td>
          <td>{{ project.start_date }}</td>
          <td>{{ project.end_date }}</td>
        </tr>
      </table>
      <hr>
      <h3>Project tracking</h3>
      <div>
        <h1>Total count: {{ count_sum.count_update__sum }}</h1>
        <form method="post" action="{% url 'project_detail' pk=project.pk %}">
          {% csrf_token %}
          {% include "partials/form.html"%}
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
